input {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
}

input::placeholder {
  color: inherit;
}

input:focus-within {
  color: #555b6b;
  outline: none;
}
